/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  width: 30%;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #6b24ad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  background-color: #541372;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.ingreso {
  color: green;
}

.gasto {
  color: red;
}

footer {

  text-align: center;
}
